.commit-table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

.commit-table th,
.commit-table td {
  border: 1px solid #ccc;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.commit-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 2px solid black;
  margin: 100px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 36px;
}

a:hover {
  text-decoration: underline;
}