body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

/* th {
  background-color: skyblue;
  color: white;
  text-transform: uppercase;
} */

tr:hover {
  background-color: #f1f1f1;
}

td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.table_title{
  background-color: blue;
  color: #fff;

}

::selection {
  background: lightblue;
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
}

.song_link:hover {
  color: lightblue;
}